@charset "UTF-8";

@media (min-width: 300px) and (max-width: 920px){
    .item-menu {
        display: none;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        padding: 10px;
        position: absolute;
        top: 115px;
        right: 100px;
        width: 200px;
        transition: all 0.3 ease-in-out;
    }

    #D {
        margin: 0px;
    }

    #M{
        margin: 50px;
    }

    #A{
        margin: 100px;
    }

    #P{
        margin: 150px;
    }

    .menu.show-menu {
        display: flex;
    }

    .item-menu:hover{
        background-color: #1c2735;
    }

    i#burguer{
        display: block;
        width: 45px;
        padding: 10px;
        cursor: pointer;
        z-index: 1100;
        color: rbg(255, 255, 2555);
    }

    i#burguer:hover{
        background-color: white;
        color: black;
    }
}
/*esse eh o do descktop*/
@media (min-width: 920px) and (max-width: 1200px){

}