@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body{
    height: 100vh;
    background-color: #121C24;
}

header {
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#partes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#partes > p {
    margin-left: 10px; /* Pequeno espaçamento do lado esquerdo */
}

#partes > a {
    margin-right: 10px; /* Pequeno espaçamento entre os links */
}

nav menu{
    margin: 3px;
}

nav > menu > a{
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    color: white;
    margin-left: 10px; /* Espaçamento entre os links à direita */
}

nav > menu > p{
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    color: white;
    margin-right: auto; /* Mantém o título do site à esquerda */
}

.logo {
    height: 80px; /* Ajuste a altura conforme necessário */
    margin-left: 10px; /* Pequeno espaçamento da borda esquerda */
    margin-right: auto; /* Empurra os links para a direita */
}

#perfil-foto {
    height: 80px; /* Ajuste a altura conforme necessário */
    margin-left: 10px; /* Pequeno espaçamento da borda esquerda */
    margin-right: auto; /* Empurra os links para a direita */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; /* Animação suave */
}

#perfil-foto:hover {
    cursor: pointer; /* Adicionar cursor para indicar que o item pode ser clicado */
    background-color: #121C24 !important;
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
}

nav > menu > a.item-menu:hover{
    background-color: white;
    color: black;
}

.perfil-menu {
    display: none; /* Menu inicialmente escondido */
    position: absolute;
    top: 120px; /* Ajuste conforme a altura do seu header */
    right: 10px; /* Alinha à direita */
    background-color: #121C24;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition-duration: 1.0s;
}

.perfil-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #333;
    transition: background-color 0.3s ease;
}

.perfil-menu a:hover {
    background-color: #1c2735;
}

.perfil-menu a:last-child {
    border-bottom: none;
}

i#burguer{
    display: none;
}

.divisor {
    border: 0;
    height: 1px;
    background-color: white;
    margin: 0 20px; /* Adicione um espaçamento horizontal se desejar */
    margin-bottom: 64px; /*afastar os conteudos abaixo*/
    transition-duration: 1.0s;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

section > a{
    color: black !important;
}

section.texto{
    margin-left: 8%; /* Pequeno espaçamento da borda esquerda */
    margin-right: 8%; /* Pequeno espaçamento da borda direito */
}

section.texto > h1 {
    text-align: center;
}

section.texto > a {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
    min-height: 50vh; /* Altura mínima para a section */
    margin-left: 6%; /* Pequeno espaçamento da borda esquerda */
    margin-right: 6%; /* Pequeno espaçamento da borda direito */
    border-radius: 16px;
}

section.imagem > p{ 
    display: inline-block; /* inline-block para adequar o conteudo dentro da box com a box*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    margin: 0%;
    margin-left: -29px;
    margin-top: 50px;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url("../paginas/imagens/foto1.jpg");
    background-position: right center;
}

.btn {
    display: inline-block;
    margin-top: 36px;
    padding: 10px 20px;
    background-color: #F57B02;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    border-radius: 32px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.diferente {
    display: inline-block;
    margin-top: 36px;
    padding: 10px 20px;
    background-color: #29384C;
    color: white !important;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 32px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.diferente:hover {
    background-color: #1c2735;
}



.btn:hover {
    background-color: #ca6500;
}

.texto > h1{
    color: white;
    font-size: 1.5em;
    margin: 50px;
}

.texto > p{
    font-size: 0.8em;
    color: white;
}

section.texto > img {
    display: inline-block; 
    margin: 10px; /* Espaçamento entre as imagens */
    width: 30%; /* Controle do tamanho das imagens - ajuste conforme necessário */
    max-width: 2500px; /* Controle de largura máxima */
    height: auto; /* Mantém a proporção da imagem */
}


footer{
    background-color: black;
    color: white !important;
    text-align: center;
    padding: 10px;
}